
// reset
// this should stay relatively small since most
// of the styles will exist within the theme

*
	margin: 0
	padding: 0

ul
	list-style: none

a
	text-decoration: none

input,
button,
a
	border: none
	&:focus
		outline: none
