// the reset of the site

body
  background: $prime
  font-family: $base-font-family
  font-size: $base-font-size
  line-height: $base-line-height
  color: $base-font-color

a
  color: $base-font-color

.wrap
  max-width: 1000px
  width: 80%
  margin: 0 auto

ul, li
  padding: 0

li
  position: relative
  background: lighten($prime, 5%)
  margin-bottom: .25em
  padding: 1.5em 2em


#name
  width: 80%
  padding: 2em 5%
  float: left

#submit
  float: left
  padding: 2em 5%
  font-size: 1em
  width: 10%
  background: darken($prime, 10%)

.editing
  .edit
    display: block
    border-left: 5px solid #111
    background: #f0f0f0
  .view
    display: none

.edit
  position: relative
  display: none

// .delete
//   display: none
//   position: absolute
//   top: 0
//   right 0

// li:hover .delete
//   display: inline-block
